body {
  margin: 0px;
}
/*----------------header---------------------*/
header div {
  background-color: rgb(159, 195, 236);
  background-image: url(../img/pattern.png);
  background-size: 50%;
}
#client-logo {
  height: 40px;
  margin-left: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
}
/*--------------main-----------------------*/
h1 {
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}
#subtitles {
  color: grey;
  margin-left: 10px;
  margin-bottom: 0px;
}
main figure {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15;
}
#lorem-ipsum {
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  padding-left: 15px;
}
h4 {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 1px;
}
h5 {
  margin: 0px;
}
/*--------------table-----------------------*/
table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 22px;
  margin-top: 20px;
}
td {
  text-align: left;
}
th {
  text-align: left;
}
.table-color-line {
  background-color: rgba(140, 127, 221, 0.212);
}
.table-top-color-line {
  background-color: rgb(135, 166, 250);
  color: white;
}
/*---------------footer----------------------*/
footer {
  background-color: rgb(64, 56, 117);
}
footer h5 {
  color: white;
  text-align: center;
  height: 20px;
  padding: 20px;
}
